@import url("/fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-sans: "Noto Sans Lao", sans-serif;
  --font-inter: "Inter", sans-serif;
  --foreground-color: #a3a3a3;
  --accent-color: #737373;
  --white-color: #ffffff;
  --background-color: #171717;
  --black-color: #262626;
}

body {
  font-family: var(--font-noto-sans);
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--foreground-color);
  font-size: 16px;
  line-height: 1.7;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--white-color);
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--foreground-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s;
}

a:hover {
  color: var(--white-color);
  text-decoration: underline;
}

textarea {
  width: 100%;
  font-size: 16px;
  padding: 20px;
  background-color: var(--black-color);
  border-radius: 8px;
  color: var(--white-color);
}

textarea:focus {
  outline: none;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: var(--black-color);
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
  white-space: pre-wrap;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent-color);
  padding: 0 0 0 20px;
  margin: 20px 0;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 1px solid var(--accent-color);
}
