---
const today = new Date();
---

<footer
  class="flex justify-center py-16 text-sm text-foreground gap-1 font-inter"
>
  &copy; {today.getFullYear()}
  <a href="https://github.com/tyecode/" target="_blank">tyecode.</a>
  <span>All rights reserved.</span>
</footer>
