---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="container flex items-center justify-between py-12">
    <a href="/">
      <img
        src={"/favicon.svg"}
        alt="logo"
        class="w-9 h-9 rounded-none"
        draggable="false"
      />
    </a>
    <div class="flex gap-4 text-base font-inter">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/explore">Explore</HeaderLink>
    </div>
  </nav>
</header>
